<!doctype html>
<html>
  <head>
    <title>Todo Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="bg-sky-200 w-1/2 mx-auto rounded-2xl mb-20 mt-10 pt-4 pl-4 pb-4"
    >
      <h1 class="text-3xl font-bold text-center">{{todo.title}}</h1>
      <p class="text-lg">{{todo.description}}</p>
      <div>
        <p class="text-sm text-gray-500">Created at: {{todo.created_at}}</p>
        <p class="text-sm text-gray-500">Updated at: {{todo.updated_at}}</p>
      </div>
      <h3 class="text-xs text-gray-400">Author: {{todo.user.username}}</h3>
    </div>
    <footer class="bg-red-500">
      <p class="text-xs text-gray-400">© 2024 Todo App</p>
    </footer>
  </body>
</html>
