<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Todo List</title>
  </head>
  <body>
    <h1 class="text-7xl font-bold text-center text-blue-600 my-12 underline">
      my todo app
    </h1>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: 0 auto;
        background-color: lightgray;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        gap: 20px;
      "
    >
      {% for t in todo_lists %}
      <div
        style="display: flex; background-color: white; width: 100%; gap: 10px"
      >
        <input type="checkbox" />
        <div>
          <p
            style="
              color: black;
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 0px;
              {% comment %} text-align: center; {% endcomment %}
            "
          >
            {{t.title}}
          </p>
          <span>{{t.description}}</span>
        </div>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
